@tailwind base;
@tailwind components;
@tailwind utilities;

.navigationIcons {
    color: #C6C6C6;
}

.navigationIcons.mobile {
    background-color: #fff;
}

.navigationIcons:hover {
    color: #E8C229;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}